---
page_title: "Provider: ALZ"
subcategory: ""
description: |-
  Use the Azure Landing Zones (ALZ) provider to generate data to allow you to easily provision your ALZ configuration.
  You must configure the provider with the proper credentials before you can use it.

  This provider has been designed to work with the [ALZ Terraform module](https://registry.terraform.io/modules/Azure/avm-ptn-alz/azurerm/latest).
  We suggest that you consume this provider from within the module, rather than directly in your Terraform configuration.
---

# {{ upper .ProviderShortName }}

Use the Azure Landing Zones (ALZ) provider to generate data to allow you to easily provision your ALZ configuration.
Its principal use is to generate data to deploy resources with the [AzureRM](https://github.com/Azure/terraform-provider-azurerm) provider.
However, the provider does deploy some resources directly, in order to work around limitations in Terraform.

Use the navigation to the left to read about the available resources.

~> **Important** This provider has been designed to work with the [ALZ Terraform module](https://registry.terraform.io/modules/Azure/avm-ptn-alz/azurerm/latest). We suggest that you consume this provider from within the module, rather than directly in your Terraform configuration.

~> **Warning** This provider is still in development but is ready for initial testing and feedback via [GitHub Issues](https://github.com/Azure/terraform-provider-alz/issues).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentication and Configuration

Configuration for the ALZ provider can be derived from several sources, which are applied in the following order:

1. Parameters in the provider configuration
1. Environment variables

## Versions

For production use, you should constrain the acceptable provider versions via
configuration, to ensure that new versions with breaking changes will not be
automatically installed by `terraform init` in the future:

{{ tffile "examples/provider/terraform_block.tf" }}

As this provider is still at version zero, you should constrain the acceptable
provider versions on the minor version.

{{ .SchemaMarkdown | trimspace }}
