---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace -}}

{{- if .HasExample -}}## Example Usage

{{ tffile (printf .ExampleFile) | trimspace}}{{ end }}

## Unknown Values

This data source which **must** be read prior to creating the plan.
If you pass in an unknown/computed value, it will not be able to read the data source until the plan is being applied.
This may cause resources to be unnecessarily recreated.

Such unknown values include resource ids. For example, if you are creating a resource and passing the id of the resource group to the data source, this will cause the issue.

Instead, use string interpolation to pass the values. For example:

### Recommended

This is the recommended way to use this provider:

**Note:** We assume that all variable inputs are literals.

```terraform

locals {
  foo_resource_id = "/subscriptions/${data.azurerm_client_config.current.subscription_id}/resourceGroups/${var.resource_group_name}/providers/Microsoft.FooResourceProvider/${var.foo_resource_name}"
}


data "alz_architecture" "example" {
  name = "alz"
  # ...
  policy_assignments_to_modify = {
    alzroot = {
      policy_assignments = {
        mypolicy = {
          parameters = jsonencode({
            parameterName = local.foo_resource_id
          })
        }
      }
    }
  }
}
```

{{ .SchemaMarkdown | trimspace }}
